<launch>
  <arg name="sensor_viz" default="1"/>
  <arg name="replay_recording" default="false"/>
  <arg name="min_readings_file" default="$(find xela_server)/files/txt/min_readings_default.txt"/>

  <!-- Launch the grid map simple demo node -->
  <!-- <node pkg="xela_server" type="grid_map_ploter_xela" name="grid_map_ploter_node" output="screen"> -->
    <!-- read value of arg -->
    <!-- <param name="sensor_viz" value="$(arg sensor_viz)"/> -->
    <!--<param name="readings_file" value="$(arg min_readings_file)"/> --><!-- Select minimum readings from pre-recorded file-->
    <!--<param name="replay" value="$(arg replay_recording)"/> --><!-- If true software will not update minimum readings list-->
  <!-- </node> -->

  <node pkg="xela_server" type="grid_map_ploter_xela" name="grid_map_ploter_sensor1" output="screen">
    <!-- read value of arg -->
    <param name="sensor_viz" value="1"/>
    <param name="readings_file" value="$(arg min_readings_file)"/> <!-- Select minimum readings from pre-recorded file-->
    <param name="replay" value="$(arg replay_recording)"/> <!-- If true software will not update minimum readings list-->
  </node>

  <node pkg="xela_server" type="grid_map_ploter_xela" name="grid_map_ploter_sensor2" output="screen">
    <!-- read value of arg -->
    <param name="sensor_viz" value="2"/>
    <param name="readings_file" value="$(arg min_readings_file)"/> <!-- Select minimum readings from pre-recorded file-->
    <param name="replay" value="$(arg replay_recording)"/> <!-- If true software will not update minimum readings list-->
  </node>

  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find xela_server)/config/visualization_config.yaml" />
  </node>
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz_sensor1" pkg="rviz" type="rviz" args="-d $(find xela_server)/rviz/config_sensor1.rviz" />
  <node name="rviz_sensor2" pkg="rviz" type="rviz" args="-d $(find xela_server)/rviz/config_sensor2.rviz" />
</launch>
